[submodule "rc3-world"]
	path = world-maps
	url = https://git.cccv.de/rc3/world-maps.git
	branch = master

[submodule "rc3-tiles"]
	path = rc3_tiles
	url = https://github.com/cbluoss/rc3_tiles.git
	branch = master
[submodule "shared"]
	path = shared
	url = git@github.com:chaosz0ne/shared.git
	branch = master
